<div class="cart__line-item">
  <div class="line-item__image-container">
    <a href="{{ item.url }}">
      {{ item.image.src | image_url: width: 100, height: 100, width: 2000 | image_tag }}
    </a>
  </div>

  <div class="line-item__details">
    <a href="{{ item.url }}">{{ item.product.title }}</a>
    {% unless item.product.has_only_default_variant %}
    <ul>
      {% for option in item.options_with_values %}
      <li>{{ option.name }}: {{ option.value }}</li>
      {% endfor %}
    </ul>
    {% endunless %}

    {% for property in item.properties %}
    {% assign first_character_in_key = property.first | slice: 0 %}
    {% unless first_character_in_key == '_' %}
    {{ property.first }}: {{ property.last }}
    {% endunless %}
    {% endfor %}
  </div>

  <div class="line-item__quantity">
    <input type="number" name="updates[]" value="{{ item.quantity }}">
    <a href="{{ item.url_to_remove }}">LINE_ITEM_REMOVE</a>
    <input type="submit" value="LINE_ITEM_UPDATE">
  </div>

  <div class="line-item__total">
    <p>LINE_ITEM_TOTAL: {{ item.final_line_price | money }}</p>
  </div>
</div>