<!doctype html>

<html>

<head lang="{{ shop.locale }}">
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="description" content="{{ page_description | escape }}">
  <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
  {% endif %}

  <!-- Social meta tags -->
  {% render 'social-meta-tags' %}

  <!-- SEO URL -->
  <link rel="canonical" href="{{ canonical_url }}">

  <!-- HREFLANG setup -->
  {% capture localeCode %}/{{ request.locale.iso_code }}
  {% endcapture %}
  {% for locale in shop.published_locales %}
  {% if locale.primary %}
  <link rel="alternate" hreflang="x-default" href="{{ shop.url }}{{ request.path | remove_first: localeCode }}">
  {% else %}
  <link rel="alternate" hreflang="{{ locale.iso_code }}" href="{{ shop.url }}/{{ locale.iso_code }}{{ request.path | remove_first: localeCode }}">
  {% endif %}
  {% endfor %}

  <!-- SEO title -->

  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %}
  &ndash;
  {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash;
  {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash;
  {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  <!-- Header hook for plugins -->
  {{ content_for_header }}

  <!-- Optimazation and Marketing tools -->
  {%- liquid
  unless settings.ga_measurement_id == ""
  render 'google-analytics'
  endunless
  unless settings.facebook_pixel_id == ""
  render 'fb-pixel'
  endunless
  unless settings.hotjar_site_id == ""
  render 'hotjar'
  endunless
  -%}

  <!-- Stylesheets -->
  {{ 'normalize.css' | asset_url | stylesheet_tag }}
  {{ 'mvp.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

</head>

<body>

  <main role="main">
    {{ content_for_layout }}
  </main>

  <!-- General Scripts Goes Here -->
  <script src="{{ 'theme.js' | asset_url }}" async></script>

</body>

</html>